<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.esion.manage.mapper.ServerConfigMapper">

    <resultMap id="BaseResultMap" type="xyz.esion.manage.entity.ServerConfig">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="serverId" column="server_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,path,server_id
    </sql>
</mapper>
