.file-main {
    position: absolute;
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
}

.file-path {
    padding-top: 12px;
    padding-left: 12px;
}

.file-option {
    padding: 12px;
    display: flex;
}

.file-item-center {
    text-align: center;
}

.file-content {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.file-content>div {
    height: 45px;
    align-items: center;
}

.file-content>div:hover {
    background-color: var(--em-color);
}

.file-content-hover {
    background-color: var(--em-color);
}

.file-name>.el-checkbox {
    padding-left: 8px;
    padding-right: 8px;
}

.file-head {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1.5fr 0.7fr 0.7fr 1.1fr;
    height: 30px;
}

.file-content-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1.5fr 0.7fr 0.7fr 1.1fr;
}

.file-button {
    color: var(--text-color) !important;
    background-color: var(--main-color) !important;
}

#file-menu-bg {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#file-menu {
    display: none;
    background-color: var(--bg-color);
    position: absolute;
    width: 120px;
    border-radius: 5px;
}

#file-menu>div {
    padding: 3px 10px;
    color: var(--text-color);
    font-size: 14px;
}

#file-menu>div:hover {
    background-color: var(--em-color);
    border-radius: 5px;
    user-select: none;
}

.file-path-items {
    height: 28px;
    line-height: 26px;
    width: 400px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
}

.file-path-items>span>button {
    padding: 0;
}

.file-path-items:hover {
    padding: 0;
    border: 1px solid var(--em-color);
    height: 26px;
    margin-bottom: 4px;
}

.file-path-input {
    height: 26px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 26px;
    width: 400px;
    -webkit-appearance: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    color: var(--text-color) !important;
    background-color: var(--main-color) !important;
    border: 1px solid var(--em-color) !important;
}